/* Загальні стилі для сторінки */
body {
  background-color: #080e26;
  display: flex;
  flex-direction: column; /* змінюємо напрямок осей на колонку */
  justify-content: flex-start; /* вирівнюємо контент зверху */
  align-items: center;
  height: 100vh;
  margin: 60px; /* видаляємо зовнішній відступ */
}

/* Стилі для форми пошуку */
.search-form {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  position: relative;
}

/* Стилі для інпута пошуку */
.search-form input[type='text'] {
  padding: 12px;
  border: 2px solid transparent;
  border-radius: 30px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  outline: none;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
  transition: border-color 0.5s ease-out, box-shadow 0.5s ease-out;
}

/* Стилі для кнопки пошуку */
.search-form button[type='submit'] {
  padding: 10px 20px;
  margin-left: 10px;
  border: 2px solid transparent;
  border-radius: 30px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  position: relative;
}

/* Стилі для псевдоелементу ::before кнопки пошуку */
.search-form button[type='submit']::before,
.search-form input[type='text']::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 30px;
  border: 2px solid #01f7ff;
  opacity: 0; /* зробити псевдоелемент невидимим за замовчуванням */
  transition: opacity 0.5s ease-out;
}

/* Стилі для кнопки пошуку при наведенні */
.search-form button[type='submit']:hover,
.search-form input[type='text']:hover {
  border-color: #01f7ff; /* змінити колір бордера при наведенні */
  box-shadow: 0px 3px 20px rgba(1, 179, 255, 0.7); /* змінити тінь при наведенні */
}

/* Стилі для псевдоелементу ::before кнопки пошуку при наведенні */
.search-form button[type='submit']:hover::before,
.search-form input[type='text']:hover::before {
  opacity: 1; /* зробити псевдоелемент видимим при наведенні */
  animation: glowing-border 1s ease-out infinite alternate; /* додати анімацію "свічення" */
}

/* анімація "свічення" */
@keyframes glowing-border {
  from {
    box-shadow: 0 0 10px #01f7ff, 0 0 20px #01f7ff, 0 0 30px #01f7ff,
      0 0 40px #01f7ff, 0 0 50px #01f7ff, 0 0 60px #01f7ff;
  }
  to {
    box-shadow: 0 0 20px #01f7ff, 0 0 30px #01f7ff, 0 0 40px #01f7ff,
      0 0 50px #01f7ff, 0 0 60px #01f7ff, 0 0 70px #01f7ff;
  }
}
